#box1{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 50px 100px;

}

/* body{
  background-color: white;
} */

#box12{
    display: flex;
    gap: 25px;
    letter-spacing: .8px;
    text-align: center;
    font-weight: 700;

    background-color: transparent;
    text-align: -webkit-match-parent;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;

   
}
/* .a2{
    color: #757575;
} */
#box11{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 13px;
    letter-spacing: .4px;
    text-align: center;
    text-decoration: none;
    
}
.label{
    margin-left: 83%;
    color: #757575;
    /* margin-top: -100px; */
    text-transform: uppercase;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    letter-spacing: .4px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}

/* .a1{
    color: #000;
} */
/* a{
    text-decoration: none;
    
} */
#aimg{
    width: 293px;
  justify-content: center;
    /* color: #757575;
    text-align: center;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif; */
}
.img1{
    /* margin-left: 49%; */
    text-align: center;
}
#bag{
    height: 110%;
    align-items: center;
    /* border: 1px solidblack; */
}


#box3{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 10px 100px;
}
#box31{
    
    text-transform: uppercase;
    font-size: 11px;
    /* text-align: -webkit-match-parent; */
 
  
   
    justify-content: space-around;
    
    
}
/* #box32{
 margin-left: 700px;
} */
#dro{
    color: #757575;
    margin-left: 20px;
   

}
#dro1{
   
    color: #000;
    margin-left: 20px;
    

}
#input{
    border: 1px solid #757575;
    font-size: 13px;
    justify-content: center;
    margin: -100px 30px 0px 850px;
    border: 1px solid #dfdfdf !important;
    height: 30px !important;
    /* display: block !important; */
    padding-left: 10px !important;
    width: 244px !important;
    
}
#line{
    color: #757575;
 margin: 25px 0px 25px 0px;
}




/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
    width: 90%;
    margin: auto;
    cursor: pointer;
   
   

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

 
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #757575;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  #navbar{
      background-color: white;
      cursor: pointer;
      
  }

  .dropdown {
    cursor: pointer;
  }
  /* Add a red background color to navbar links on hover */
  /* .navbar a:hover, .dropdown:hover .dropbtn {
     background-color: #757575; 
   
  }*/
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border: 1px solid  red; */
 
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: rgb(235, 233, 233);
    padding: 16px;
   color: #000;
  width: 87.5%;
margin: auto;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bag{
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  #spanbag{
    /* background-color:black; */
    /* color: #000; */
    font-size: 50px;
    /* color: #f9f9f9; */
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: white;
    color: #757575;
    height: 409px;
    /* border: 1px solid  red; */
    gap: 10px;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
  }
  #colimg{
      width: 600px;
      height: 100%;
/* margin-left: -100px; */
  }
  #colimg2{
    width: 500px;
    height: 100%;
margin-left: -100px;
}
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column Link:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .row{
      width: 90%;
      margin: auto;
      background-color: white;
  }
  .header{
      display: flex;
      gap: 170px;
  }
  .header2{
    display: flex;
    gap: 500px;
}
.dropdown-content .header2 {
  background: rgb(235, 233, 233);
  padding: 16px;
color: #000;
width: 87.5%;
margin: auto;
  
}
  .dropbtn{
      color: #757575;
  }

  
#footer1{
  font-family: Arial,Helvetica,sans-serif;

  font-size: 12px;
  line-height: 18px;
  width: 80%;
  margin: auto;
  color: #757575;
  padding: 10px;
}
.h3f{
  text-align: center;
  font-size: 16px;
  color: #000;
  margin-top: 50px;
}

#ShivMainContainer{
  background-color:#fbfbfb ;
}
#Shivfooter1{
  height: 310px;
  width: 100%;
  /* border: 1px solid black; */
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
}
/* #Shivfooter1>div{
  border: 1px solid red;
} */
#Shivsecbox1 {
  padding-left: 14px;
  float: left;
  margin: 3px 0 30px 510px;
  width: 250px;
  display: flex;
}
.sh1{
  text-align: center;
}
#Shivsecbox1 h4{

  color:  #4a4a4d;
  font-family: "CeraPRO-Medium";
  font-size: 15px;
  text-transform: uppercase;
}
#Shivsecbox1 Link img{
  width: 170px;
  border-width: 0px;
}
#Shivsecbox2{
  margin-left: 200px;
  width: 650px;
  display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
justify-content: space-evenly;
}
/* #Shivsecbox2 div{
border: 1px solid blue;
} */
#Shivsecrow1{
margin-left: -35px;
}
#Shivsecrow1 li h4 Link{
  color: #4a4a4a;
  font-family: "CeraPRO-Medium";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  /* list-style: none !important; */

}
li{
  list-style: none;
}
#Shivsecrow1 li Link{
  color: #858585;
  display: block;
  font-family: "CeraPRO-Regular";
  font-size: 14px;
 padding: 3px;
  cursor: pointer;
  outline: 0 none;
  text-decoration: none;
}
#Shivnewsletter{
  margin: 0 2% 0 0;
  position: relative;
  width: 302px;
}
#Shivnewsletter h4{
  float: left;
  font-size: 15px;
  color: #4a4a4a;
  font-family: "CeraPRO-Medium";
  padding-top: 4px;
 margin-top: 20px;
}
#Shivnewsletter  input{
  background: #fff;
  border: 1px solid #cecdcc;
  color: #1f1e1e;
  font-family: "CeraPRO-Light";
  font-size: 14px;
  height: 45px;
  margin-top: 20px;
  min-width: 250px;
  padding: 0 20px;
  text-align: left; 
  margin-top: 0px;
  outline: none;
}
#ShivSubbutton{
  /* font-family: CeraPRO-Regular; */
  background: #747373;
  border: 10px none;
  color: #000;
  cursor: pointer;
  margin-top: 15px;
  padding: 8px 20px;
  right: 5px;
  text-transform: uppercase;
  margin-left: 0px;
}

#Shivcolpay{
  height: 50px;
  font-size: 14px;
  font-weight: normal;
  /* line-height: 49px; */
  margin-top: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  
}
#Shivrow1pay{
  width: 50%;
  /* border: 1px solid red; */
  color:  #2f0a0a;
      font-family: "CeraPRO-Light";
      font-size: 15px;
      text-transform: initial;
      /* letter-spacing: 1px; */
  display: flex;
  align-items: center;
}
#Shivrow1pay span{
  /* border: 1px solid blue; */
  margin-right: 15px;
  margin-left: 50px;

}
#Shivrow2pay{
  width: 30%;
  /* border: 1px solid orange; */
  display: flex;
  margin-left: 20%;
/* justify-content: end; */
}
#Shivrow2pay ul li{
  padding-right: 2px;
  color: #111111;
  font-family: 'CeraPRO-Regular';
  font-size: 13px;
  text-transform: initial;
  display: inline-block;
}
#Shivrow2pay ul li a{
  background-position: 3px 9px;
  display: inline;
  margin: 0;
  padding: 10px ;
  color:   #8f8e8e;
  font-size: 25px;
  /* border: 1px solid pink; */
}

#Shivfooter3{
  width: 93%;
  height: 650px;
  /* border: 1px solid black; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
}
/* #Shivfooter3 >div{
  border: 1px solid red;
} */

#Shivfooter4{
  border-top: 1px solid #e0e0e0;
  display: flex;
  color: #4a4a4a;
  margin: 0 auto;
  /* padding-bottom: 30px; */
  padding-top: 0;
  font-family: "CeraPRO-Light";
  font-size: 13px;
  width: 100%;
}
#Shivsecrow2 {
 
  color: #4a4a4a;
  font-family: "CeraPRO-Light";
  font-size: 14px;
  display: flex;
  gap: 5px;
 
}
#Shivsecrow2 li span{
float: left;
  margin: 0 4px;
  border: 1px solid #747373;
  align-items: center;
  margin-top: 15px !important;
  /* color: #4a4a4a; */
  font-size: 10px;
  
}
#fooh{
  color: #000;
}
#Shivsecrow2  li Link{
  color: #626262;
  display: block;
  font-family: "CeraPRO-Regular";
  font-size: 14px;
 padding: 3px;
  cursor: pointer;
  outline: 0 none;
  text-decoration: none;
  margin-top: 11px !important;
}
